<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="icon" href="img/LOGO-COMPUTER_GAMER.png" sizes="32x32" />
    <title>Nosotros - COMPUTER GAMER</title>
</head>
<body>
    <!-- Navegación -->
    <%- include('partials/navigation')%>
    <!-- Sección Nosotros -->
    <section class="about-us">
        <div class="breadcrumb">
            <p>Home &gt; Nosotros</p>
        </div>
        <h1>Nosotros</h1>
    </section>

    <!-- Sección Compromiso -->
    <section class="about-uss">
        <div class="about-text">
            <div class="about-title">Nuestro Compromiso</div>
            <div class="about-description">
                En COMPUTER GAMER, nos enorgullecemos de ofrecer computadoras y accesorios de alta calidad a nuestros clientes. Nos dedicamos a proporcionar soluciones tecnológicas que se adapten tanto a gamers como a profesionales, garantizando rendimiento y durabilidad en cada producto.
            </div>
        </div>
        <img src="img/about/about1.jpg" alt="Imagen de Compromiso" class="about-image" />
    </section>

    <!-- Sección Historia -->
    <section class="shop-com">
        <img src="img/about/about2.jpg" alt="Imagen de Historia" class="shop-image" />
        <div class="shop-text">
            <div class="shop-title">Nuestra Historia</div>
            <div class="shop-description">
                Desde nuestra fundación, hemos crecido y evolucionado para convertirnos en líderes en el mercado de tecnología y gaming. Lo que comenzó como un pequeño negocio ha florecido en una tienda de tecnología reconocida, gracias a la lealtad de nuestros clientes y a nuestro enfoque en productos de calidad.
            </div>
        </div>
    </section>

    <!-- Sección Productos -->
    <section class="safe-hands">
        <div class="safe-hands-text">
            <div class="safe-hands-title">Nuestros Productos</div>
            <div class="safe-hands-description">
                Ofrecemos una amplia gama de productos, desde computadoras de alto rendimiento y componentes hasta accesorios especializados para gaming. Con marcas de primer nivel y la última tecnología, estamos preparados para satisfacer las necesidades de nuestros clientes, sin importar su nivel de experiencia.
            </div>
        </div>
        <img src="img/about/about3.png" alt="Imagen de Productos" class="safe-hands-image" />
    </section>
<!-- Sección de Cursos -->
<section class="courses">
  <div class="course-card">
      <div class="course-info">
          <h3>Gerente General</h3>
          <p>Responsable de la dirección estratégica y operativa de la empresa. </p>
          <div class="course-price-duration">
              <span>Melisa</span>
          </div>
      </div>
      <img src="img/about/melisa.jpeg" >
  </div>
  
  <div class="course-card">
      <div class="course-info">
          <h3>Jefe de ventas</h3>
          <p> Responsable de diseñar e implementar estrategias de ventas. </p>
          <div class="course-price-duration">
              <span>Sebastian</span>
          </div>
      </div>
      <img src="img/about/sebas.jpg" >
  </div>
  
  <div class="course-card">
      <div class="course-info">
          <h3>Encargado de ventas</h3>
          <p>Responsable de gestionar el proceso de ventas.</p>
          <div class="course-price-duration">
              <span>Luis</span>
          </div>
      </div>
      <img src="img/about/luis.jpeg" >
  </div>
  
  <div class="course-card">
    <div class="course-info">
        <h3>Apoyo de ventas</h3>
        <p> Responsable de diseñar e implementar estrategias de ventas. </p>
        <div class="course-price-duration">
            <span>Angel Alata Perla</span>
        </div>
    </div>
    <img src="img/about/angel.jpg" >
</div>

<div class="course-card">
    <div class="course-info">
        <h3>Apoyo de ventas</h3>
        <p>Responsable de gestionar el proceso de ventas.</p>
        <div class="course-price-duration">
            <span>Cristhian Eduardo Atalay</span>
        </div>
    </div>
    <img src="img/about/Cristhian.jpg" >
</div>

  <div class="course-card">
      <div class="course-info">
          <h3>Gerente de Marketing</h3>
          <p>Responsable de diseñar y ejecutar estrategias de marketing.</p>
          <div class="course-price-duration">
              <span>Antonio</span>
          </div>
      </div>
      <img src="img/about/Antonio.jpg">
  </div>
  <div class="course-card">
      <div class="course-info">
          <h3>Apoyo de Marketing</h3>
          <p>Responsable de diseñar y ejecutar estrategias de marketing.</p>
          <div class="course-price-duration">
              <span>Alex Enrique Oliva</span>
          </div>
      </div>
      <img src="img/about/alex.jpg">
  </div>
</section>

</section>
    <!-- Sección Ubicación -->
    <section id="ubicacion">
        <h2>Encuéntranos aquí</h2>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.3030049824843!2d-76.39033262632083!3d-13.079973061994988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910ff93610fb9b81%3A0xd188f57c748ca5a!2sSan%20Vicente%20De%20Ca%C3%B1ete!5e0!3m2!1ses!2spe!4v1728862820246!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <!-- Pie de página -->
    <%- include('partials/footer') %>

</body>
</html>

