<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/LOGO-COMPUTER_GAMER.png" sizes="32x32">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/IniciarSesion.css">
</head>
<body>
    <div class="formulario">
        <img src="/img/LOGO-COMPUTER_GAMER.png" alt="Logo" class="logo">
        <h1>Crea una cuenta</h1>
        <form>
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="username">Correo Electrónico</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            
            <div class="recordar">
                <a href="/lostpassword">¿Olvidó su contraseña?</a>
            </div>
            
            <input type="submit" value="Iniciar">
            
            <div class="registrarse">
                <b>¿Ya tienes una cuenta?</b>
                <a href="/login">Inicia Sesión</a>
            </div>            
            <div class="volver-home">
                <a href="/">Volver al Home</a>
            </div>
        </form>
    </div>
</body>
</html>
