
  <!-- Header -->
  <header class="header">
    <nav class="navbar">
      <img src="img/LOGO-COMPUTER_GAMER.png" alt="Logo" class="logo">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Desktop PCs</a></li>
        <li><a href="#">Networking Devices</a></li>
        <li><a href="#">Printers & Scanners</a></li>
        <li><a href="/catalogo">Catalogo</a></li>
        <li><a href="/about">Nosotros</a>
            <li><a href="/login">Iniciar Sesión</a></li>
        </li>
      </ul>
    </nav>
  </header>